<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mycelium Chat - The World's First Chat Client</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
		<script defer src="client.js" type="text/javascript"></script>
    </head>
    <body id="app">
        <section id="userdata-modal">
            <div id="userdata-content">
                <div id="userdata-username">
                    <label for="username-set">Enter Username:</label><br />
                    <input id="username-set" type="text" @keydown.enter="setUserData" autofocus/>
                </div>
                <select id="room-set" class="room-set" >
                    <option v-for="room in rooms" :value="room">{{room}}</option>
                </select>
                <button @click="setUserData">submit</button>
            </div>
        </section>
        <div id="app-content">
            <section id="title-box">
                <h1>🍄 mycelium chat</h1>
                <select id="title-room-set" class="room-set">
                    <option v-for="room in rooms" :value="room" @click="setRoom(room)">{{room}}</option>
                </select>
            </section>
            <section id="userlist-box">
                <div id="userlist-title">
                    <h2>users online</h3>
                </div>
                <div id="userlist">
                    <div class="userlist-user" v-for="(user,idx) in users" @click="addToText(users[idx][0])">
                        <p>
                            <span class="mushroom">
                                <svg height="100" width="100">
                                    <filter :id="'picked-filter' + idx">
                                        <feColorMatrix type="matrix" :values="users[idx][1].iconColor"/>
                                    </filter>
                                </svg>
                                <span :style="getIconColorFilter(idx)">🍄</span>
                            </span>
                            {{users[idx][0]}}
                        </p>
                    </div>
                </div>
            </section>
            <section id="chat-box">
                <div id="chat-title">
                    <h2>{{room}} chat</h3>
                </div>
                <div id="chat-message-box">
                    <div class="chat-message" v-for="(data, idx) in history">
                        <div class="chat-message-meta">
                            <span v-if="data.author == author">
                                <img class="update" @click="updateChat('update', data)" src="./icons/delete.svg" alt="update" title="update" />
                                <img class="delete" @click="updateChat('delete', data)" src="./icons/update.svg" alt="delete" title="delete" />
                            </span>
                            <span class="time">{{new Date(data.timestamp).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}}</span>
                            <span class="mushroom">
                                <svg height="100" width="100">
                                    <filter :id="'picked-filter' + idx">
                                        <feColorMatrix type="matrix" :values="data.iconColor"/>
                                    </filter>
                                </svg>
                                <span :style="getIconColorFilter(idx)">🍄</span>
                            </span>
                            <span class="author">{{data.author}}:</span>
                        </div>
                        <div class="chat-message-body">
                            <p v-if="checkForMention(data.text)">
                                <strong>{{data.text}}</strong>
                            </p>
                            <p v-else>
                                {{data.text}}
                            </p>
                        </div>
                        <input class="update-input" v-if="data.editMessage" v-model="editText" @keydown.enter="updateChat('update', data)" />
                    </div>
                </div>
            </section>
            <section id="message-box">
                <input id="message-input" v-model="text" placeholder="edit me" @keydown.enter="updateChat('new', data)" />
                <button @click="updateChat('new', data)">send</button>
            </section>
        </div>
    </body>
</html>
