<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Base</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
		<script defer src="client.js" type="text/javascript"></script>
    </head>
    <body id="app">
        <h1>Mycelium Chat</h1>
        <div id="usernameModal" class="modal">
            <div id="modalContent" class="modalContent">
                <label for="userInput">Enter Username:</label>
                <input type="text" id="userInput" v-model="author">
                <button @click="setUsername">submit</button>
            </div>
        </div>
        <div id="user-list-box">
            <p></p>
        </div>
        <div id="chat-box">
            <div v-for="data in history">
                <div class="message-meta">
                    <p class="author">{{ data.author }}</p>
                    <p>{{ new Date(data.timestamp).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) }} </p>
                    <div v-if="data.author == author">
                        <p @click="updateChat('update', data)">Edit</p>
                        <p @click="updateChat('delete', data)">Delete</p>
                    </div>
                </div>
                <div class="message-body">
                    <p> {{ data.text }} </p>
                </div>
                <input v-if="data.editMessage" v-model="editText" @keydown.enter="updateChat('update', data)" />
            </div>
            <input id="message-input" v-model="text" placeholder="edit me" @keydown.enter="updateChat('new', data)" />
        </div>
    </body>
</html>
