@import url("reset.css");

:root {
    --clr-bg: #FFE4B5;
    --clr-bg2: #BFAB87;
    --clr-dark: black;
    --clr-med: #DEB887;
    --clr-light: white;
    --clr-txt: black;
    --clr-shadow: rgb(0 0 0 / 0.4);
}

html {
    font-family: "nunito" sans-serif;
}

#userdata-modal {
    width: 100vw;
    height: 100vh;

    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    
    opacity: 1;
    background-color: rgb(20 10 5 / 0.9);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hideModal {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#userdata-content {
    padding: 1.5rem;
    border: 0.25rem solid var(--clr-dark);
    background-color: var(--clr-bg);

    border-radius: 6px;
    box-shadow: 3px 3px 6px var(--clr-shadow);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

#userdata-username {
    width: 360px;
    grid-area: 1 / 1 / 2 / 5;
}

#userdata-username input {
    width: 100%;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;

    border: 0.125rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
}

#userdata-username input:focus {
    transform: translate(-1px, -1px) scale(1.01);

    outline: none;
    box-shadow: 2px 2px 4px var(--clr-shadow);
}

.room-set {
    height: auto;
    background-color: var(--clr-med);
    border: 0.125rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
}

.room-set:hover {
    cursor: pointer;
}

#userdata-content button {
    background-color: var(--clr-med);
    border: 0.125rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
}

#userdata-content button:hover {
    transform: translate(-1px, -1px) scale(1.01);

    box-shadow: 2px 2px 4px var(--clr-shadow);

    cursor: pointer;
}

#room-set {
    grid-column: 1 / 4;
}

svg {
    position: absolute;
    height: 0;
}

#app-content {
    height: 100vh;
    padding: 0.5rem;
    overflow-y: hidden;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px auto 60px;
    grid-template-areas: 
    "title title title title"
    "userlist chat chat chat"
    "userlist message message message";
    grid-gap: 0.75rem;

    background-color: var(--clr-med);
}

#title-box {
    padding: 0 0.5rem;

    grid-area: title;

    background-color: var(--clr-dark);
    border: 0.25rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
    color: var(--clr-light);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title-room-set {
    height: 80%;
}

#userlist-box {
    grid-area: userlist;

    background-color: var(--clr-bg);
    border: 0.25rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);

    display: grid;
    grid-template-rows: 3rem auto;

    overflow-y: hidden;
}

#userlist-title {
    padding-left: 1rem;

    background-color: var(--clr-dark);
    color: var(--clr-light);

    display: flex;
    align-items: center;
}

#userlist {
    overflow-y: scroll;
}

.userlist-user {
    padding: 1rem 0;

    text-align: center;
}

.userlist-user p {
    transform: translateX(-12px);
}

.userlist-user:hover {
    background-color: var(--clr-med);

    cursor: pointer;
}

#chat-box {
    grid-area: chat;
    
    background: moccasin;
    border: 0.25rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
    
    display: grid;
    grid-template-rows: 3rem auto;

    overflow-y: hidden;
}

#chat-title {
    padding-left: 1rem;

    background-color: var(--clr-dark);
    color: var(--clr-light);

    display: flex;
    align-items: center;
}

#chat-message-box {
    padding: 0.75rem 1rem;

    overflow-y: scroll;
}

.chat-message {
    padding: 0.25rem 0.75rem 0.45rem;
    display: flex;

    border-radius: 18px;
}

.chat-message:hover {
    padding-left: 1rem;

    background-image: linear-gradient(to right, var(--clr-med), var(--clr-bg) 20%);
}

.chat-message-meta .update, .chat-message-meta .delete {
    height: 1.5rem;

    transform: scale(0) translateY(7px);

    display: inline;
}

.chat-message:hover .update, .chat-message:hover .delete {
    transform: scale(1) translateY(7px);
}

.chat-message .update:hover, .chat-message .delete:hover {
    transform: scale(1) translateY(5px);

    cursor: pointer;
}

.chat-message-meta .delete {
    padding: 0 6px;
    margin-right: -60px;
}
.chat-message:hover .delete {
    margin-right: 0;
}

.chat-message-meta .time {
    opacity: 0.5;
    font-size: 0.75rem;
}

.chat-message-meta .author {
    font-weight: bold;
}

.chat-message-body {
    padding: 0.30rem 0 0 0.5rem;
    flex-grow: 1;
}

.update-input {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;

    grid-column: 1 / 8;

    border: 0.125rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
}

.update-input:focus {
    transform: translate(-2px, -2px) scale(1.015);

    outline: none;
    box-shadow: 4px 4px 5px var(--clr-shadow);
}

#message-box {
    grid-area: message;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
}

#message-box input {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;

    grid-column: 1 / 8;

    border: 0.25rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
}

#message-box input:hover {
    transform: translate(-1px, -1px) scale(1.01);

    box-shadow: 2px 2px 4px var(--clr-shadow);
}

#message-box input:focus {
    transform: translate(-2px, -2px) scale(1.015);

    outline: none;
    box-shadow: 4px 4px 5px var(--clr-shadow);
}

#message-box button {
    background-color: var(--clr-bg);
    border: 0.25rem solid var(--clr-dark);
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--clr-shadow);
}

#message-box button:hover {
    transform: translate(-1px, -1px) scale(1.01);

    box-shadow: 2px 2px 4px var(--clr-shadow);

    cursor: pointer;
}

@media only screen and (max-width: 830px) {
    #app-content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 60px 3fr 4fr 60px;
        grid-template-areas: 
        "title title title"
        "userlist userlist userlist"
        "chat chat chat"
        "message message message";
    }

    #message-box {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    #message-box input {
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    
        grid-column: 1 / 4;
    }
}
