html {
    font-family: nunito;
}

#chat-box {
    height: 80%;
    width: 90%;
    overflow-y: scroll;

}

.container {
    border: 2px solid rgb(220, 111, 111);
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.navBar {
    background-color: rgb(255, 98, 98);
    padding: 15px;
    position: sticky;
    top: 0;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(238, 191, 135);

}

.message-meta {
    width: 250px;
    display: flex;
    justify-content: space-between;

    font-weight: bold;

    /*
    add hover effects
    */
}

.message-body {}

#message-input {
    width: 70%;
    margin: 10px;
}